.main {
  background-color: #ffa9b602;
  font-family: "Roboto Condensed" sans-serif;
  background-color: #ff6b970a;
  font-size: 16px;
}
.line {
  background-color: #ff6b98;
  height: 3px;
  text-align: start;
  width: 70px;
  margin: 0;
  margin-bottom: 30px;
}
